body {
  color: #212529;
}
h1 {
  color: #212529;
}
.header-section {
  margin-top: 20px;
  color: rgb(51, 40, 40);
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.container {
  padding: 20px 20px;
}
.container .input-group input {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  height: 50px;
}
i {
  font-size: 25px;
  color: #212529;
}
input {
  color: #212529;
}
table {
  border: solid 1px rgb(8, 5, 5);
  font-family: "Courier New", Courier, monospace;
  max-height: 300px;
}

table tbody {
  display: block;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  justify-items: center;
  text-align: center;
  overflow-y: scroll;
  max-height: 400px; /* edit */
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font: x-large oblique;
  justify-content: center;
}
table tbody tr th {
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
.form-group {
  padding: 10px 20px;
}
.action-container {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  justify-content: center;
}

.add-btn {
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.add-btn i {
  color: #212529;
}
.add-btn:hover {
  background-color: rgb(201, 196, 196);

  transform: translateY(-3px);
  box-shadow: 5px 10px #dbd8d8;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px 0px #dbd8d8;
  background-color:#888
}
.btn:hover .fas.fa-edit,.btn:hover .fa.fa-eye{
  color: white
}
.delete-btn {
  flex: 1;
  margin-left: 20%;
  border: solid 2px rgb(51, 40, 40);
  border-radius: 10px 0 0 10px;

  text-align: center;
}
.delete-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px 0px #dbd8d8;
}
/* 
.edit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px 0px #dbd8d8;
}
.detail-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px 0px #dbd8d8;
} */
.select-all-btn {
  flex: 1;
  margin-right: 20%;
  border: solid 2px rgb(40, 51, 48);
  border-radius: 0 10px 10px 0;

  text-align: center;
}
.select-all-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px 0px #dbd8d8;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content.container {
  width: 40%;
}
.modal-content {
  background-color: #fefefe;
  top: 20%;
  padding-bottom: 1%;
  height: fit-content;
  border: 1px solid #888;
  border-radius: 20px;
  width: 500px;
}
.modal-header {
  display: flex;
}

.modal-title {
  flex: 19;
  text-align: center;
  font: 1.7em oblique;
  color: rgb(75, 9, 9);
}
.modal-body-message {
  text-align: center;
  font: 30px oblique;
  color: #d31b1b;
  padding-bottom: 2%;
}
.modal-action {
  display: flex;
  margin-top: 10px;
}
.btn--submit-modal {
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(60, 97, 85);
  border-radius: 20px;
  text-align: center;
  font: 1.7em oblique;
  padding: 1%;
}
.btn--cancel-modal {
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(253, 78, 93);
  border-radius: 20px;
  text-align: center;
  font: 1.7em oblique;
  padding: 1%;
}
.btn--submit-modal:hover {
  color: white;
  background-color: rgb(60, 97, 85);
}
.btn--cancel-modal:hover {
  color: white;
  background-color: rgb(131, 17, 26);
}
p.text-warning {
  color: rgb(240, 63, 63) !important;
  font-size: 20px;
}
/* The Close Button */
.btn--close-modal {
  flex: 1;
  border: 2px solid #aaa;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 7%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 0.5%;
  font-size: xx-large;
  border-radius: 20px;
}
.btn--close-modal:hover,
.btn--close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: #aaa;
}
.show {
  display: block;
}
.fa-home {
  font-size: 75px;
}
.header-container {
  display: flex;
  flex-direction: row;
}
.header-center {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
input[type=checkbox]:checked{
  font: #fff;
  background-color: #212529;
  border-color: #212529;
}
